<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.glyphOrder</key>
	<array>
		<string>dotlessi</string>
		<string>afii10079</string>
		<string>o</string>
		<string>afii10081</string>
		<string>afii10074</string>
		<string>afii10088</string>
		<string>afii10080</string>
		<string>afii10077</string>
		<string>p</string>
		<string>afii10082</string>
		<string>afii10083</string>
		<string>afii10087</string>
		<string>afii10086</string>
		<string>afii10094</string>
		<string>x</string>
		<string>c</string>
		<string>afii10068</string>
		<string>afii10084</string>
		<string>n</string>
		<string>afii10090</string>
		<string>afii10091</string>
		<string>afii10069</string>
		<string>afii10093</string>
		<string>afii10089</string>
		<string>a</string>
		<string>afii10065</string>
		<string>afii10067</string>
		<string>afii10092</string>
		<string>v</string>
		<string>y</string>
		<string>e</string>
		<string>i</string>
		<string>dotaccent</string>
		<string>q</string>
		<string>afii10070</string>
		<string>afii10103</string>
		<string>afii10085</string>
		<string>afii10075</string>
		<string>cyrbreve</string>
		<string>afii10076</string>
		<string>afii10072</string>
		<string>afii10097</string>
		<string>afii10096</string>
		<string>afii10066</string>
		<string>space</string>
		<string>afii10095</string>
		<string>afii10073</string>
		<string>afii10078</string>
		<string>k</string>
		<string>f</string>
		<string>t</string>
		<string>l</string>
		<string>I</string>
		<string>H</string>
		<string>afii10033</string>
		<string>E</string>
		<string>afii10022</string>
		<string>afii10031</string>
		<string>afii10055</string>
		<string>afii10032</string>
		<string>O</string>
		<string>s</string>
		<string>afii10040</string>
		<string>afii10042</string>
		<string>afii10041</string>
		<string>uni0237</string>
		<string>j</string>
		<string>four</string>
		<string>zero</string>
		<string>seven</string>
		<string>afii10046</string>
		<string>afii10020</string>
		<string>afii10018</string>
		<string>afii10194</string>
		<string>period</string>
		<string>h</string>
		<string>b</string>
		<string>d</string>
		<string>X</string>
		<string>afii10039</string>
		<string>afii10102</string>
		<string>afii10105</string>
		<string>comma</string>
		<string>afii10028</string>
		<string>afii10024</string>
		<string>P</string>
		<string>B</string>
		<string>afii10019</string>
		<string>afii10034</string>
		<string>hyphen</string>
		<string>endash</string>
		<string>C</string>
		<string>T</string>
		<string>V</string>
		<string>A</string>
		<string>afii10017</string>
		<string>afii10036</string>
		<string>afii10035</string>
		<string>afii10029</string>
		<string>afii10038</string>
		<string>g</string>
		<string>u</string>
		<string>z</string>
		<string>m</string>
		<string>afii10045</string>
		<string>afii10044</string>
		<string>afii10043</string>
		<string>afii10048</string>
		<string>M</string>
		<string>Z</string>
		<string>afii10026</string>
		<string>afii10049</string>
		<string>S</string>
		<string>afii10025</string>
		<string>afii10021</string>
		<string>afii10047</string>
		<string>afii10030</string>
		<string>afii10054</string>
		<string>afii10023</string>
		<string>afii10071</string>
		<string>afii10037</string>
		<string>afii10027</string>
		<string>cyrBreve</string>
		<string>dieresis</string>
		<string>edieresis</string>
		<string>dieresis.cap</string>
		<string>Edieresis</string>
		<string>afii10062</string>
		<string>afii10110</string>
		<string>r</string>
		<string>F</string>
		<string>semicolon</string>
		<string>colon</string>
		<string>w</string>
		<string>L</string>
		<string>D</string>
		<string>exclam</string>
		<string>one</string>
		<string>one.tab</string>
		<string>U</string>
		<string>N</string>
		<string>G</string>
		<string>J</string>
		<string>K</string>
		<string>Q</string>
		<string>R</string>
		<string>Y</string>
		<string>W</string>
		<string>three</string>
		<string>two</string>
		<string>minus</string>
		<string>five</string>
		<string>quotesingle</string>
		<string>quotedbl</string>
		<string>underscore</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>uni2116</string>
		<string>eight</string>
		<string>guilsinglleft</string>
		<string>guillemotleft</string>
		<string>guilsinglright</string>
		<string>guillemotright</string>
		<string>six</string>
		<string>nine</string>
		<string>emdash</string>
		<string>slash</string>
		<string>bar</string>
		<string>backslash</string>
		<string>plus</string>
		<string>equal</string>
		<string>bracketright</string>
		<string>bracketleft</string>
		<string>question</string>
		<string>.notdef</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>percent</string>
		<string>perthousandzero</string>
		<string>uni2215</string>
		<string>at</string>
		<string>acute</string>
		<string>asterisk</string>
		<string>grave</string>
		<string>numbersign</string>
		<string>ampersand</string>
		<string>dollar</string>
		<string>less</string>
		<string>greater</string>
		<string>degree</string>
		<string>asciicircum</string>
		<string>asciitilde</string>
		<string>macron</string>
		<string>section</string>
		<string>quotesinglbase</string>
		<string>quoteright</string>
		<string>quoteleft</string>
		<string>quotereversed</string>
		<string>quotedblbase</string>
		<string>quotedblright</string>
		<string>quotedblleft</string>
		<string>uni201F</string>
		<string>ellipsis</string>
		<string>figuredash</string>
		<string>fraction</string>
		<string>multiply</string>
		<string>bullet</string>
		<string>paragraph</string>
		<string>periodcentered</string>
		<string>uni2219</string>
		<string>divide</string>
		<string>plusminus</string>
		<string>breve</string>
		<string>acute.cap</string>
		<string>grave.cap</string>
		<string>tilde</string>
		<string>afii10195</string>
		<string>afii10147</string>
		<string>afii10146</string>
		<string>afii10148</string>
		<string>afii10196</string>
		<string>uni262D</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>afii10145</string>
		<string>afii10193</string>
		<string>afii10060</string>
		<string>afii10101</string>
		<string>afii10053</string>
		<string>afii10051</string>
		<string>afii10108</string>
		<string>minus.tab</string>
		<string>plus.tab</string>
		<string>idieresis</string>
		<string>dieresis.alt0</string>
		<string>Idieresis</string>
		<string>dieresis.alt1</string>
		<string>afii10057</string>
		<string>afii10056</string>
		<string>afii10104</string>
		<string>uni04E8</string>
		<string>uni04E9</string>
		<string>odieresis</string>
		<string>Odieresis</string>
		<string>Adieresis</string>
		<string>adieresis</string>
		<string>uni04AE</string>
		<string>uni04BB</string>
		<string>uni04C0</string>
		<string>uni04CF</string>
		<string>uni04D2</string>
		<string>uni04D3</string>
		<string>uni04E6</string>
		<string>uni04E7</string>
		<string>uni0275</string>
		<string>uni04AF</string>
		<string>uni04DC</string>
		<string>uni04DD</string>
		<string>uni04DE</string>
		<string>uni04DF</string>
		<string>uni04E4</string>
		<string>uni04E5</string>
		<string>uni04F0</string>
		<string>uni04F1</string>
		<string>uni04F4</string>
		<string>uni04F5</string>
		<string>uni04F8</string>
		<string>uni04F9</string>
		<string>hungarumlaut</string>
		<string>afii10099</string>
		<string>afii10106</string>
		<string>afii10107</string>
		<string>afii10058</string>
		<string>afii10059</string>
		<string>afii10052</string>
		<string>afii10061</string>
		<string>afii10100</string>
		<string>afii10109</string>
		<string>breve.cap</string>
		<string>oacute</string>
		<string>Oacute</string>
		<string>hungarumlaut.cap</string>
		<string>ohungarumlaut</string>
		<string>Ohungarumlaut</string>
		<string>macron.cap</string>
		<string>circumflex.cap</string>
		<string>caron.cap</string>
		<string>ring</string>
		<string>ring.cap</string>
		<string>tilde.cap</string>
		<string>dotaccent.cap</string>
		<string>uni0268</string>
		<string>uni026A</string>
		<string>seven.tab</string>
		<string>ghe.ital</string>
		<string>space_uni030F</string>
		<string>space_uni030F.cap</string>
		<string>uni020C</string>
		<string>uni020D</string>
		<string>de.ital</string>
		<string>pe.ital</string>
		<string>te.ital</string>
		<string>fi</string>
		<string>fl</string>
		<string>e.alt</string>
		<string>ve.alt</string>
		<string>el.alt</string>
		<string>hard.alt</string>
		<string>yeru.alt</string>
		<string>soft.alt</string>
		<string>ie.alt</string>
		<string>yat.alt</string>
		<string>lje.alt</string>
		<string>nje.alt</string>
		<string>Aring</string>
		<string>io.alt</string>
		<string>longs</string>
		<string>uni0283</string>
		<string>copyright</string>
		<string>cedilla</string>
		<string>ccedilla</string>
		<string>Ccedilla</string>
		<string>uni00B5</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>germandbls</string>
		<string>uni00B9</string>
		<string>uni00B2</string>
		<string>uni00B3</string>
		<string>uni2074</string>
		<string>onequarter</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>Euro</string>
		<string>brokenbar</string>
		<string>logicalnot</string>
		<string>registered</string>
		<string>cent</string>
		<string>trademark</string>
		<string>currency</string>
		<string>afii10050</string>
		<string>afii10098</string>
		<string>uni0492</string>
		<string>uni0493</string>
		<string>uni04A2</string>
		<string>uni04A4</string>
		<string>uni04A5</string>
		<string>uni04A3</string>
		<string>uni04BA</string>
		<string>uni0496</string>
		<string>uni0497</string>
		<string>uni049A</string>
		<string>uni049B</string>
		<string>uni04B0</string>
		<string>uni04B1</string>
		<string>afii10846</string>
		<string>uni04D8</string>
		<string>uni04B2</string>
		<string>uni04B3</string>
		<string>uni04B6</string>
		<string>uni04B7</string>
		<string>hbar</string>
		<string>uni0495</string>
		<string>uni0494</string>
		<string>uni1E9E</string>
		<string>caron.alt</string>
		<string>dcaron</string>
		<string>Lcaron</string>
		<string>lcaron</string>
		<string>tcaron</string>
		<string>ordmasculine</string>
		<string>ordfeminine</string>
		<string>exclamdown</string>
		<string>questiondown</string>
		<string>sterling</string>
		<string>uni046A</string>
		<string>uni046B</string>
		<string>two.oldstyle.tab</string>
		<string>zero.oldstyle.tab</string>
		<string>one.oldstyle.tab</string>
		<string>one.oldstyle</string>
		<string>three.oldstyle.tab</string>
		<string>four.oldstyle.tab</string>
		<string>five.oldstyle.tab</string>
		<string>six.oldstyle.tab</string>
		<string>seven.oldstyle.tab</string>
		<string>eight.oldstyle.tab</string>
		<string>nine.oldstyle.tab</string>
		<string>zero.oldstyle</string>
		<string>two.oldstyle</string>
		<string>three.oldstyle</string>
		<string>four.oldstyle</string>
		<string>five.oldstyle</string>
		<string>six.oldstyle</string>
		<string>seven.oldstyle</string>
		<string>eight.oldstyle</string>
		<string>nine.oldstyle</string>
		<string>AE</string>
		<string>ae</string>
		<string>uni04D5</string>
		<string>uni019F</string>
		<string>uni2070</string>
		<string>uni2075</string>
		<string>uni2076</string>
		<string>uni2077</string>
		<string>uni2078</string>
		<string>uni2079</string>
		<string>Eth</string>
		<string>dcroat</string>
		<string>thorn</string>
		<string>minute</string>
		<string>second</string>
		<string>uni2034</string>
		<string>ogonek</string>
		<string>aogonek</string>
		<string>uni0265</string>
		<string>uni0289</string>
		<string>uni0197</string>
		<string>uni0244</string>
		<string>eng</string>
		<string>uni0271</string>
		<string>uni04C8</string>
		<string>uni0513</string>
		<string>uni04C7</string>
		<string>uni0512</string>
		<string>uni2C6E</string>
		<string>uniA789</string>
		<string>uniA78A</string>
		<string>Sigma</string>
		<string>uni01A9</string>
		<string>Aogonek</string>
		<string>eogonek</string>
		<string>Eogonek</string>
		<string>Lslash</string>
		<string>lslash</string>
		<string>uni2150</string>
		<string>uni2151</string>
		<string>onethird</string>
		<string>twothirds</string>
		<string>uni2155</string>
		<string>uni2156</string>
		<string>uni2157</string>
		<string>uni2158</string>
		<string>uni2159</string>
		<string>uni215A</string>
		<string>oneeighth</string>
		<string>threeeighths</string>
		<string>fiveeighths</string>
		<string>seveneighths</string>
		<string>uni2152</string>
		<string>uni215F</string>
		<string>uni04CB</string>
		<string>uni04CC</string>
		<string>uni04A0</string>
		<string>uni04A1</string>
		<string>uni04C3</string>
		<string>uni04C4</string>
		<string>uni04E0</string>
		<string>uni0292</string>
		<string>uni04E1</string>
		<string>uni0499</string>
		<string>uni0498</string>
		<string>yen</string>
		<string>Oslash</string>
		<string>oslash</string>
		<string>Thorn</string>
		<string>uni0191</string>
		<string>florin</string>
		<string>eth</string>
		<string>uni0190</string>
		<string>uni025B</string>
		<string>Eng</string>
		<string>uni00AD</string>
		<string>uni01B2</string>
		<string>uni028B</string>
		<string>uni0194</string>
		<string>uni0263</string>
		<string>uni2023</string>
		<string>uni0245</string>
		<string>uni028C</string>
		<string>uni0256</string>
		<string>uni0269</string>
		<string>uni0196</string>
		<string>perthousand</string>
		<string>uni2031</string>
		<string>afii61289</string>
		<string>pi</string>
		<string>uni03A9</string>
		<string>Omega</string>
		<string>partialdiff</string>
		<string>uni0394</string>
		<string>Delta</string>
		<string>product</string>
		<string>uni2210</string>
		<string>summation</string>
		<string>approxequal</string>
		<string>notequal</string>
		<string>uni2213</string>
		<string>lessequal</string>
		<string>greaterequal</string>
		<string>uni2A7D</string>
		<string>uni2A7E</string>
		<string>gradient</string>
		<string>integral</string>
		<string>uni20BD</string>
		<string>uni20B8</string>
		<string>estimated</string>
		<string>radical</string>
		<string>infinity</string>
		<string>lozenge</string>
		<string>uni2103</string>
		<string>uni2071</string>
		<string>uni207F</string>
	</array>
</dict>
</plist>
